<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- 使用巨魔 (TrollStore) 时，这个权限可以绕过 MFi 认证强制检查 -->
    <key>com.apple.private.external-accessory.no-mfi</key>
    <true/>
</dict>
</plist>
